<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Software Developer  working at oracle Financial Software Services, having previously spent over 4.5 years of experience, giving me a good blend of enterprise and start-up experience. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
